*{
    margin: 0;
    padding: 0;
    font-family: 'popins',sans-serif;
    box-sizing: border-box;

}
.container{
    background-color: blueviolet;
    padding: 40px;
    display: flex;

}
.To_Do_List{
    width: 100%;
    background-color: rgb(231, 164, 164);
    max-width: 520px;
    margin : 100px auto 30;
    padding: 40px 30px 70px;
    border-radius: 10px;

}
.To_Do_List h1{
    color: white;
    display:flex;
    align-items: center;
    margin-bottom: 10%;

}
.pull_down{
    align-items: center;
    justify-content: space-between;
    background-color: #55cb11;
    border-radius: 30px;
    padding-left: 20px;
    display: flex;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;

}
button{
    padding: 16px 50px;
    background: #f3f5f1;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    border: none;
    outline: none;
}
button:hover{
    background-color: #55cb11;

}
ul li{
    list-style:disc; /*list circle */
    font-size: 25px;
    padding: 12px  8px 12px 50 px;
    user-select: none;
    cursor: pointer;
    position: relative;

}
ul li ::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    /* background-color: rgb(18, 237, 120); */
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    
    text-decoration: line-through;
}


/* ul li.checked ::before{
} */
ul li del{
    position: absolute;
    right: 0;
    top: 5px;
    width: 30px;
    height: 30px;
    font-size: 22px;
    color: #b55353;
    line-height: 30px;
    text-align: center;
}

ul li del:hover{
    background-color: rgb(190, 142, 222);
}